.card{
    background-color: black;
    color: white;
    max-width: 190px;
    padding: 5px;
    text-align: center;
    display: inline-block;
    margin: 10px;
}

.card img {
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    margin-left:8px ;
}